{
    "presets": [[
      "@babel/preset-env",
      {
        "targets": {
          "node": "12.19.0",
          "esmodules": false
        }
      }
    ]],
    "plugins": ["@babel/plugin-proposal-async-generator-functions"]
  }