.coursesFormLayout {
    display: flex;
    padding: 1em;
    height: 100%;
    justify-content: space-around;
    overflow: auto;
}


.coursesFormContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5em;
    flex-direction: column;
    flex: 1;
    max-width: 70em;
}

.formFlex {
    display: flex;
    padding: 1.5em;
    overflow: auto;
}

.formFirstInputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    flex: 0.4;
}

.formConceptInputs {
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex: 0.6;
}

.formConceptInputs > p {
    padding: 0.5em;
}

.formFirstIcons {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1em;
}

.objectiveContainer {
    display: flex;
}

.disableErrorAlert {
    display: block;
    font-size: 0.7rem;
    text-align: center;
    background-color: #ff5555;
    color: #ffffff;
    padding: 1em;
    border-radius: 0.5em;
}

.mutationLoading {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 1em;
    flex-direction: column;
}


.formAddConcept {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1em;
}

.buttonToUpload {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modeSuscriptionContainer {
    display: flex;
}
@media(max-width: 1300px) {
    .formFlex {
        flex-direction: column;
    }
}