.coursesFormLayout {
    display: flex;
    padding: 1em;
    height: 100%;
    flex: 1;
    justify-content: space-around;
}


.coursesFormContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5em;
    flex-direction: column;
    flex: 1;
    max-width: 70em;
}

.formFlex {
    display: flex;
    padding: 1.5em;
}

.formFirstInputs {
    display: grid;
    gap: 1.5em;
    padding: 1em;
    flex: 0.4;
}

.formConceptInputs {
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex: 0.6;
}

.formConceptInputs > p {
    padding: 0.5em;
}