.usersContainerScroll {
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow: auto;
    flex: 1;
}

.usersContainerContent {
    display: grid;
    padding: 2em;
    gap: 1em;
}

.usersContainerLoader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}