.controlPanelContainer {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    background-color: #ffffff;
    box-sizing: border-box;
}

@media(min-width: 1000px) {
    .controlPanelContainer {
        height: 100vh;
    }
}