.displayButtonNoMovil {
    display: none;
}

.displayButtonInMovil {
    display: block;
}


@media(min-width: 768px) {
    .displayButtonNoMovil {
        display: block;
    }
    .displayButtonInMovil {
        display: none;
    }
}

