.formAddConcept {
    display: grid;
    gap: 0.5em;
    padding: 1em 0;
}

.formInputConcept {
    display: flex;
    align-items: center;
}

.expandMore {
    padding-top: 0.5em;
    display: grid;
    gap: 0.8em;
    max-width: 30em;
}

.expandLess {
    display: none;
}

.subConceptContainer {
    display: flex;
    align-items: center;
}