.headerAdminContainer {
    display: flex;
    justify-content: space-around;
    height: 3em;
    border-bottom: 1px solid #eaeaea;
    align-items: center;
    z-index: 1000;
    position: sticky;
    padding: 0.5em;
    background-color: #ffffff;
}

.loading,
.loaded {
    display: flex;
    position: relative;
    top: 0;
    margin: 0;
    transition: all 0.2s ease-in;
}

.loading {
  opacity: 0;
}