.SignUpForm {
    display: grid;
    gap: 1.5em;
}

.SignUpForm_input {
    display: block;
    padding: 15px 30px;
    border-radius: 1em;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.SignUpForm_inputError {
    display: block;
    padding: 14px 29px;
    border-radius: 1em;
    outline: none;
    border: 1px solid #ff5555;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}
.SignUpForm_input:focus {
    border: 1px solid #1983ff;
    padding: 14px 29px;
}

.SignUpForm > button {
    outline: none;
    padding: 1em;
    border: none;
    margin: 0 4em;
    border-radius: 1em;
    background-color: #1983ff;
    color: #ffffff;
    transition: 0.1s ease;
}

.SignUpForm > button:hover {
    transform: scale(1.1);
    cursor: pointer;
}