.coursesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.coursesHeader {
    display: flex;
    background-color: #15639d;
    color: #ffffff;
    justify-content: space-around;
    height: 10em;
    align-items: center;
}

.flexContent {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
}

.centerContent {
    display: flex;
    max-width: 1200px;   
}

.coursesContent {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
}

.centerCircularProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media(max-width: 1024px) {
    .coursesContent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 540px) {
    .coursesContent {
        grid-template-columns: auto;
    }
}
