.home_container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: flex-start;
}

.home_container > h1 {
    display: block;
    font-size: 2.3rem;
    font-weight: bolder;
    margin-bottom: 0.5em;
    color:  #0a2540;
}

.home_container > p {
    text-align: justify;
    color: #425466;
    font-size: 18px;
}

.home_container > img {
    object-fit: contain;
    height: 12em;
    padding-bottom: 1em;
    width: 100%;
}

.featureList_container {
    display: flex;
    background-color: #1983ff;
    padding: 0 1em;
}

.feature_list {
    display: grid;
    justify-content: center;
    padding: 1em 0;
    margin: 1em 0;
    grid-template-columns: repeat(auto-fill, minmax(240px, 300px));
    gap: 1em;
    font-size: 18px;
    width: 100%;
    text-align: justify;
}

.cardFeature {
    display: block;
    padding: 1em;
    border-radius: 1em;
    color: #ffffff;
}

.featureList2_container {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    padding-bottom: 3em;
    justify-content: center;
    align-items: center;
}

.feature_list2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 300px));
    gap: 1em;
    justify-content: center;
    font-size: 18px;
    width: 100%;
    text-align: justify;
    padding-top: 2em;
}

.featureList2_right {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.featureList2_right > h2 {
    padding-top: 1em;
    color: #0a2540;
}

.cardFeature2 {
    display: block;
    padding: 1em 1em;
    color: #425466;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.featureList2_container > img {
    object-fit: contain;
    height: 12em;
    margin: 0 auto;
    width: 100%;
}


@media (min-width: 900px) {
    .home_container {
        flex-direction: row;
        align-items: center;
    }

    .home_container > h1 {
        margin: 0.5em;
    }

    .featureList2_container {
        flex-direction: row-reverse;
    }

    .featureList2_container > img {
        height: 15em;
        flex: 0.5;
        margin: 3em 5em;
    }
}


@media (min-width: 1024px) {
    .home_container > img{
        width: 50em;
    }

    .feature_list {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1em 5em;
    }

    .feature_list2 {
        grid-template-columns: auto auto;
    }
}
