.home_container {
    display: flex;
    flex-direction: column;
}

.home_containerHeader {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    justify-content: center;
    min-height: 35em;
    flex: 1;
}

.home_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding: 2em 0;
}

.home_title > h1 {
    display: block;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 0.5em;
    color:  #0a2540;
    margin: 0.5em;
}

.home_title > p {
    text-align: justify;
    color: #425466;
    font-size: 18px;
    font-weight: bold;
    margin: 1em 0;
}

.imgContainer {
    position: relative;
    display: flex;
    height: 30em;
    width: 60%;
}

.objectFit {
    object-fit: cover;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}


.featureList_container {
    display: flex;
    background-color: #15639d;
    padding: 0 1em;
    min-height: 20em;
}

.cardFeature {
    display: block;
    padding: 1em;
    border-radius: 1em;
    color: #ffffff;
    text-align: left;
}

.featureList2_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 35em;
    
}

.feature_list2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 300px));
    gap: 1em;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: justify;
    padding-top: 2em;
}

.featureList2_right {
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featureList2_right > h2 {
    padding-top: 1em;
    color: #0a2540;
}

.cardFeature2 {
    display: block;
    padding: 1em 1em;
    color: #425466;
    border-radius: 0.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

.img2Container {
    position: relative;
    width: 60%;
    height: 40em;
}

.objectFit2 {
    object-fit: cover;
    object-position: top;
}

.footerContainer {
    display: flex;
    padding: 1em;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-top: 1px solid #eaeaea;
}

.footerContainer > p {
    text-align: center;
    margin: 1em 0;
}

.footerInf {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
}

.footerLinks {
    display: flex;
}

.footerLink {
    display: block;
    text-decoration: none;
    color: #15639d;
}

.footerLink:hover {
    color: #1983ff;
}

.listLink {
    display: block;
    padding: 0 1em;
}

.instagramIcon {
    border-radius: 0.2em;
    color: #ffffff;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.bannerContainer {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

.bannerContainerMovil {
    margin-top: 1em;
    justify-content: space-around;
    display: none;
}

@media (min-width: 1030px) {
    .home_containerHeader {
        align-items: center;
    }

    .featureList2_container {
        flex-direction: row;
        align-items: center;
    }

    .feature_list {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1em 5em;
    }

    .feature_list2 {
        grid-template-columns: auto auto;
    }
}

@media(max-width: 1400px) {
    .home_title {
        flex-direction: column;
    }
}

@media(max-width: 1024px) {
    .imgContainer {
        width: 100%;
        height: 30em;
    }

    .img2Container {
        width: 100%;
        height: 35em;
    }
}

@media(max-width: 540px) {
    .imgContainer {
        width: 100%;
        height: 15em;
    }
    
    .img2Container {
        width: 100%;
        height: 20em;
    }

    .bannerContainer {
        display: none;
    }

    .bannerContainerMovil {
        display: flex;
    }

    .footerContainer {
        margin: 1em 0;
    }

}

@media(min-width: 2000px) {
    .imgContainer {
        height: 60em;
    }

    .img2Container {
        height: 70em;
    }
}