.signUp {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 1em 1em;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: rgb(21,99,157);
    background: linear-gradient(180deg, rgba(21,99,157,1) 30%, rgba(255,255,255,1) 30%);
}

.signUp_center {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: auto;
    width: 100%;
    max-width: 30em;
    min-width: 15em;
    min-width: 15em;
    border-radius: 0.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signUp_card {
    display: grid;
    width: 100%;
    gap: 0.5em;
    background-color: #ffffff;
}

.signUp_card > h2 {
    text-align: center;
}

.signUp_title {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.signUp_title > p {
    font-size: 2rem;
}

.signUp_form {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
}


.signUp_userCreated {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 2em;
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 0.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linkToHome {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #16649e;
    color: #ffffff;
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 0.5em;
    transition: 0.2s ease;
}


.linkToHome:hover {
    transform: scale(1.01);
    background-color: #1983ff;
}

.buttonToBack {
    margin: 0.5em auto;
    z-index: 1000;
}


@media(min-width: 900px) {
    .buttonToBack {
        position: absolute;
        z-index: 1000;
        top: 1.5em;
        left: 2em;
    }
}