.successPayment {
    display: flex;
    top: 0;
    position: fixed;
    justify-content: center;
    bottom: 0;
    left: 0;
    align-items: center;
    right: 0;
    box-sizing: border-box;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, #15639d 50%);
}

.successInf {
    display: grid;
    gap: 1em;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.2em;
    justify-items: center;
    font-weight: bold;
    background-color: #ffffff;
}

.linkToYourCourses {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 0.5em;
    background-color: #15639d;
    border-radius: 0.2em;
    font-weight: bold;
    transition: 0.2s ease;
}

.linkToYourCourses:hover {
    transform: scale(1.01);
    background-color: #1983ff;
}