.accountContainer {
    display: grid;
    gap: 2em;
}

.confirmationEmailAccount {
    display: grid;
    gap: 1em;
    padding: 2em;
    border-radius: 0.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resetPassword {
    display: grid;
    gap: 1em;
    padding: 2em;
    border-radius: 0.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accountEmail {
    display: grid;
    gap: 1em;
    padding: 2em;
    border-radius: 0.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centerCircularProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}